<% content_for(:title, "Can You Not | List") %>

<h2>
  <%= @list.name %> |
  <%= link_to edit_list_path(@list) do %><i class="fa fa-cog"></i><% end %> |
  <%= link_to list_path(@list), :data => {:confirm => "Ya sure?", :method => "delete"} do %><i class="fa fa-trash-o"></i><% end %>
</h2>

<h4>
  <%= @list.description %>
</h4>

<p>
  <%= link_to new_list_task_path(@list) do %>
    Add Task<i class="fa fa-lg fa-plus-square-o"></i>
  <% end %>
</p>

<hr>

<% if @list.tasks.not_done.any? %>
  <h5>Incomplete Tasks:</h5>

  <ul>
    <% @list.tasks.not_done.each do |task| %>
      <li><%= task.description %> |
        <%= link_to edit_list_task_path(@list, task) do %><i class="fa fa-cog"></i><% end %> |
        <%= link_to list_task_path(@list, task), :data => {:confirm => "Ya sure?", :method => "delete"} do %><i class="fa fa-trash-o"></i><% end %>
        <%= form_for [@list, task] do |f| %>
          <%= f.hidden_field :done, :value => true %>
          <%= f.submit "Done" %>
        <% end %>
        <!-- How to customize submit? ie FontAwesome, Glyphicons, etc -->
      </li>
      <%end%>
  </ul>

<% else %>

  <p>No incomplete tasks</p>

<% end %>

<hr>

<% if @list.tasks.done.any? %>
  <h5>Complete Tasks:</h5>

  <ul>
    <% @list.tasks.done.each do |task| %>
      <li><%= task.description %> |
        <%= link_to list_task_path(@list, task), :data => {:confirm => "Ya sure?", :method => "delete"} do %><i class="fa fa-trash-o"></i><% end %>
        <%= form_for [@list, task] do |f| %>
          <%= f.hidden_field :done, :value => false %>
          <%= f.submit "Oops, Actually Not Done" %>
        <% end %>
      </li>
      <%end%>
  </ul>

  <hr>
<% end %>


<p><%= link_to "Return to To-Don't Lists", lists_path %></p>
